       
    <footer>
        <hr> CST336 Internet Programming. &copy;2020 Meis <br />
        <em> Disclaimer: </em> The information in this webpage is mostly factual. <br /> 
        It is used for academic purposes only. 
        <figure>
            <img alt="CSUMB Logo" src="img/Logo.png">
        </figure>
    </footer>
    
    
    </body>
</html>