<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
      
        <link href="https://fonts.googleapis.com/css2?family=Pacifico&display=swap" rel="stylesheet">
        <style>
            @import url("css/styles.css");
        </style>
        
        <title> Hacking: A Brief History </title>
       
    </head>
     <nav>
            <a href="/index"> <strong> Home </strong> </a>
            <a href="/hackers"> Hackers </a>
            <a href="/whitehat"> White Hat</a>
            <a href="/blackhat"> Black Hat</a>
            <a href="/sources"> Sources </a>
        </nav>
        <br /> 