<%- include('partials/header.ejs') %>
    
       <body>
        <header>
            <h1> Famous Hackers 
        <img src="img/news.png" style="width: 3%; height: 3%; display:inline;" alt="news"> </h1> <!-- it was necessary to resize these pictures within the code as doing so in Windows removed transparency -->
        </header>
        <hr />
           
      <div class = "row">
        <h2 class="hackerName"> Edward Snowden </h2>
        <figure>
            <img src="img/snowden.jpg" alt="snowden">
        </figure>
        
        <p class = "hackerBio">
            Edward Snowden is known for leaking large amounts of classified information on NSA surveillance activities to journalists. Snowden explains that
            when he joined the CIA and NSA, he took an oath to the Constitution, rather than an oath of secrecy. His oath was to "preserve, protect, and defend the Constitution
            from all enemies, foreign and domestic." 
            <br /> <br />
            Snowden hacked the NSA by creating a program called Heartbeat, which gathered large amounts of data on classified programs across the NSA infrastructure. Ostensibly, the 
            purpose of Heartbeat was to provide a news feed to NSA employees, updating them on topics relevant to their work. In reality, Heartbeat allowed Snowden to vacuum up large amounts 
            of information on classified programs under the nose of the NSA, that he eventually smuggled out of NSA headquarters to give to journalists Laura Poitras and Glenn Greenwald in Hong Kong. 
            Read his excellent autobiography <a href=https://www.amazon.com/Permanent-Record-Edward-Snowden/dp/1250237238> Here </a>
        </p>
        </div>
      
       
             <div class = "row">
        <h2 class="hackerName"> Kevin Mitnick </h2>
        <figure>
            <img src="img/mitnick.jpg" alt="Kevin Mitnick">
        </figure>
        
        <p class = "hackerBio">
            Kevin Mitnick is one of the world's most famous hackers. Originally a "black hat" hacker, he proved to be virtually unstoppable in terms of being able to hack into phone companies,
            computer companies, and other organizations. Mitnick never really profited from his hacking, though he had the capability to steal massive amounts of credit card and financial data. 
            Rather, he seemed driven by a compulsion to hack, addicted to the dopamine rush he would experience after successfully hacking a system. 
             <br /> <br />
            Mitnick was for a time on the run from the FBI for his hacking activities. 
            Today, he is a white hack hacker and one of the most sought-after pen testers in the world. He runs a firm called KnowBe4, which advises companies and individuals on how to protect their 
            data. 
           
        </div>
      
             <div class = "row">
        <h2 class="hackerName"> Rob Joyce </h2>
       <figure>
            <img src="img/joyce.jpg" alt="Rob Joyce">
        </figure>
        
        <p class = "hackerBio">
           Rob Joyce led the NSA's Tailored Access Operations group, the group of hackers working for the NSA whose goal is to gain access to the computer systems, phones, and other devices 
           of foreign surveillance targets and foreign nations. 
           <br /> <br />
           Joyce points out that one reason hackers are able to successfully penetrate networks, is because they are able to spend the time methodically looking for security holes. Most network administrators 
           or other IT professionals responsible for security are not able to devote that kind of focused attention to cracking their own networks due to being busy with other tasks.
           
        </div>
       
               <div class = "row">
        <h2 class="hackerName"> Max Vision </h2>
       <figure>
            <img src="img/max.jpg" alt="Max Vision">
        </figure>
        
        <p class = "hackerBio">
           Max Butler, aka "Max Vision," is a blackhat hacker who at one time was a successful white hat hacker. Max initially was well-respected in the cyber security scene, getting paid up to $100 an hour as a penetration
           tester. At one point, Max decided to hack into the Pentagon and fixed some of their security holes without permission. For this, he got in trouble with the authorities and spent time in jail. After getting out, he found it difficult to find legitimate work, and so turned to hacking 
           restaurants and other businesses to collect millions of credit card numbers that he then traded in the online "carders" marketplace through online forums. 
           <br /><br />
           Max eventually decided that the "carders" marketplace community was too disjointed and disorganized, and actually hacked into the systems of almost all major carder forums, copied their data, and then "dropped" or erased their databases
           with a SQL injection attack. He then consolidated the forums around his own forum, since in part he was the only one who still had much of the data, essentially orchestrating a coup d'état in the carder underground that put him in control of
           the carder forums. Eventually, he was caught by authorities again but not before he had stolen millions of credit cards. Max's story is a somewhat sad one, as it appears that like Kevin Mitnick, if he had 
           been able to better manage his hacking "impulses," he could have led a very successful career in cyber security. 
           
        </div>

<%- include('partials/footer.ejs') %>