<%- include('partials/header.ejs') %>

        
    <body>
        <header>
            <h1> Hacking: A Brief History </h1>
        </header>
        <hr />

       <main> 
       
       <p class = "intro"> The first computer hackers came from MIT's Tech Model RailRoad Club in the 1950s.  
       The meaning of "hack" according to the The Model Railroad Club today is "applying ingenuity to create a clever result." A hack may be quick and inelegant, perhaps applied without changing the design of the 
       larger system. Or, it could be a simple, elegant solution to a problem, one created by thinking about the problem in unconventional ways. 
       <br /> <br />
       Today, hacking has popularly become synonymous with breaking into a computer system using clever methods. However, the traditional definition of hacking shows that hacking is really about creating 
       clever and sometimes unconventional solutions to technical problems. </p>
       <figure>
           <img src="img/railroad.jpeg" alt="MIT Railroad Club">
       </figure>
       </main>

<%- include('partials/footer.ejs') %>