<%- include('partials/header.ejs') %>

       <body>
        <header>
            <h1> White Hat Hackers </h1>
            
            <figure> 
        <img src="img/whitehat.png" style="max-height: 6%; max-width: 6%;" alt="whitehat"> 
        </figure>
 
        </header>
        <hr />
        
          <p class="intro" style="font-style: italic; width: 50%; margin: auto; text-align: center; font-size: .8em;"> <br />
        White Hack hackers are hackers whose activities provide a positive benefit to their own society. They might include cybersecurity hackers who go after malicious hackers,
        hackers who work at intelligence agencies, or "penetration testers." </p>
        <br />
      
        
       <h3 style="color: white;"> 
        Types of White Hat Hackers </h3>
        
        
        <ul>
            <li class = "hackerTypes"> 
            <span class="spanName"> Penetration Testers: </span> hackers who hack into a company or system with permission in order to reveal and fix
        vulnerabilities. Penetration testers will often use a combination of social engineering and technical exploits to penetrate a company's systems. Common approaches may include 
        spear-phishing (sending a message using the identity of someone the sender knows), SQL injection, packet-sniffing, and other methods. <br /> 
        Penetration testing and cyber security can be an in demand field in the United States. 
            </li>
            <li  class = "hackerTypes">
            <span class="spanName"> Intelligence Agency Hackers: </span> The NSA's Tailored Access Program (now called "Computer Networking Operations"), is a group of intelligence community hackers who attempt to gain access to the 
            devices and systems of foreign surveillance targets as well as foreign countries. They use a wide array of methods, including specifically targeting the credentials of system admins, who tend 
            to have the most comprehensive access. Most nation states have some kind of hacker team(s) like this, which also engage in cyber warfare in an offensive or defensive posture. 
            </li>
            
            <li  class = "hackerTypes">
           <span class="spanName"> Law Enforcement: </span> Law enforcement agencies such as the FBI employ their own white hat hackers. These hackers might even act as undercover operatives, posing as black hat hackers online, to gather 
            intelligence about the black hat hacker community. The carder forums referred to in the bio of Max Vision in the "hackers" page of this site were taken down largely by one such undercover white hat 
            hacker. 
                
            </li>
        </ul>
   
<%- include('partials/footer.ejs') %>